<!DOCTYPE html>
<html>
<head>
<style
>
.button-container {
 margin-top: 10px;
 display: flex;
 justify-content: center;
 gap: 10px;
}

form {
 width: 500px;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}

button {
 padding: 10px;
 width:   100px;
 border-radius:  8px;
 border: none;
 background-color: #4CAF50;
 color: #fff;
}
</style>
</head>
<body>

<form method = "post">
<p><a href="{{ url_for('canvas') }}">Canvas</a>
<a href="{{ url_for('graph') }}">Graph</a>
<a href="{{ url_for('init') }}">Load</a></p>

<p><label>Problem: </label><p>

<textarea rows="5"  cols="80" readonly>
{{ context['problem_txt'] }}
</textarea>

<p><label>Question: </label><p>
<textarea rows="5"  cols="80">
{{ context['request_txt'] }}
</textarea>

<p><label>Response: </label><p>
<textarea name="response_text" rows="5"  cols="80">
{{ context['response_txt'] }}
</textarea>

<p><label>Feedback: </label></p>
<p style="color:{{ context['color'] }};">{{ context['comment_txt'].split('\n') | join('<br/>' | safe)  }} </p>
<div class="button-container">
<button type="submit" name="submit_button" value="next">Next</button>
<button type="submit" name="submit_button" value="previous">Previous</button>
<button type="submit" name="submit_button" value="submit">Submit</button>
</div>
</form>
</body>
</html>
