<!DOCTYPE html>
<html>
<head>
<style>
.button-container {
 margin-top: 10px;
 display: flex;
 justify-content: center;
 gap: 10px;
}
.aligned-elements {
 display:  inline-block;
 vertical-align: middle;
}

form {
 width: 500px;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}

button {
 padding: 10px;
 width:   150px;
 border-radius:  8px;
 border: none;
 background-color: #4CAF50;
 color: #fff;
}
</style>
</head>
<body>

<form method = "post">
<p><a href="{{ url_for('dialog') }}">Dialog</a>

<p><label>Problem: </label><p>

<textarea name="problem_text" rows="5"  cols="80">{{ context['problem_txt'] }}</textarea>
<div class="button-container">
<button type="submit" name="submit_button" value="save_problem">Save Problem</button>
</div>
<div>
<p><label>Question Type: </label><p>
<textarea class="aligned-elements" id="type_txt" name="type_txt" rows="1" cols="16">{{ context['type'] }}</textarea>
<select class="aligned-elements" id="type_select" name="options">
   <option value="all" selected>all</option>
   <option value="expression">expression</option>
   <option value="paint">paint</option>
   <option value="equation">equation</option>
   <option value="vectors">vectors</option>
   <option value="graph">graph</option>
</select>
<script>
   const type_select=document.getElementById('type_select')
   const type_txt=document.getElementById('type_txt')

   type_select.addEventListener('change', function() {
      type_txt.value = this.value;
   });
</script>
</div>
<p><label>Question: </label><p>
<textarea name="question_text" rows="5"  cols="80"> {{ context['request_txt'] }}</textarea>
<div class="button-container">
<button type="submit" name="submit_button" value="save_question">Save Question</button>
</div>
<p><label>Response: </label><p>
<textarea name="response_text" rows="5"  cols="80">{{ session['context']['response_txt'] }}</textarea>
<div class="button-container">
<button type="submit" name="submit_button" value="save_response">Save Response</button>
<button type="submit" name="submit_button" value="delete_responses"/>Delete Responses</button>
</div>
<div>
<p><label>Responses: </label><p>
<textarea name="responses" rows="5"  cols="80">{{ responses }}</textarea>
</div>
</form>
</body>
</html>
