<!DOCTYPE html>
<html>
<style>
   .container {
      display: flex;
      flex-direction: column;
      align-items: center; 
   }
   .button-group {
   margin-top: 10px;
   display: flex;
   justify-content: center;
   gap: 10px;
   }
   button {
   padding: 10px;
   width: 100px;
   border-radius:  8px;
   border: none;
   background-color: #4CAF50;
   color: #fff;
   }
</style>
<body>
<p><a href="{{ url_for('dialog') }}">Dialog</a></p>
<div class="container">
   <canvas id="myCanvas" width="600" height="600" style="border:1px solid grey"></canvas>
   <div class="button-group">
      <button onclick="set_line()">Store Line</button>
      <button onclick="dialogClick()">Store All</button>
   </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
const width  = 600;
const height = 600;
const margin = 50;
var canvas = document.getElementById("myCanvas");
let dpi = window.devicePixelRatio;
canvas.width  = width*dpi;
canvas.height = height*dpi;
canvas.style.width = `${width}px`
canvas.style.height = `${height}px`
var ctx    = canvas.getContext("2d");
ctx.scale(dpi,dpi);
function draw_axes(ctx){
   drawLine(ctx, margin, height/2, width - margin ,height/2);
   drawLine(ctx, width/2, height-margin, width/2, margin);
}
var x = 0;
var y = 0;
var line_list = [];
var lines_list = [];
var line_obj;
var force_txt;
var isdrawing = false;
canvas.addEventListener("mousedown", (e) => {
   if (isdrawing == true){
      drawLine(ctx, x, y, e.offsetX, e.offsetY);
      line_obj = {"x1": x-width/2, "y1": height/2 - y, "x2": e.offsetX-width/2, "y2":height/2 - e.offsetY};
      line_list.push(line_obj)
   }
   x = e.offsetX;
   y = e.offsetY;
   isdrawing = true;
});
canvas.addEventListener("mouseup", (e) => {
});
function drawLine(ctx, x1, y1, x2, y2){
   ctx.beginPath();
   ctx.strokeStyle = "black";
   ctx.lineWith = 1;
   ctx.moveTo(x1+0.5, y1+0.5);
   ctx.lineTo(x2+0.5, y2+0.5);
   ctx.stroke();
   ctx.closePath();
}
function dialogClick(){
   lines_string = JSON.stringify(lines_list) 
   $.ajax({
     url: '/graph_lines',
     type: 'POST',
     contentType: "application/json",
     data: lines_string
  }); 
}
function set_line(){
   const desc = document.getElementById("Description");
   lines_list.push([...line_list]); // add by value
   line_list = []
   isdrawing = false;
}
window.onload = function() { 
   draw_axes(ctx);
};
</script>
</body>
</html> 

