<!DOCTYPE html>
<html>
<head>
<style
>
.button-container {
 margin-top: 10px;
 display: flex;
 justify-content: center;
 gap: 10px;
}

form {
 width: 500px;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}

button {
 padding: 10px;
 width:   100px;
 border-radius:  8px;
 border: none;
 background-color: #4CAF50;
 color: #fff;
}

</style>
</head>
<body>

<form method = "post">
<h1> AI Physics Tutor </h1>
<p><a href="{{ url_for('dialog') }}">Dialog</a></p>

<select name="options" >
  <option value="ramp.json" selected>Block on Ramp</option>
</select>
<p><label>Problem: </label><p>

<textarea rows="5"  cols="80" readonly>
{{ context['problem_txt'] }}
</textarea>
<div class="button-container">
<button type="submit" name="submit_button" value="load">Load</button>                                           
</div>       
</form>
</body>
</html>
